// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Avenir Next', 'Arial', sans-serif !default;

/// Brand colors
/// @type Color
$colors: (
  'primary': (
    'BrainFlix-Black': #323232,
    'BrainFlix-Blue': #0095ff,
    'Silver': #afafaf,
    'White': #ffffff,
  ),
  'secondary': (
    'BrainFlix-DarkBlack': #000000,
    'BrainFlix-DarkBlue': #0065ad,
    'Mercury': #e1e1e1,
    'Alabaster': #fafafa,
  ),
  'conditional': (
    'error': #d22d2d,
    'error-bg': #db5757,
  ),
) !default;

/// Container's maximum width
/// @type Length
$container-width: (
  // 1.6 * 2 = 3.2
  'mobile': calc(100% - 3.2rem),
  // 3.6 * 2 = 7.2
  'tablet': calc(100% - 7.2rem),
  'desktop': 102rem
) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'tablet': (
    min-width: 48em,
  ),
  'desktop': (
    min-width: 80em,
  ),
) !default;

/// Font weights map
$font-weights: (
  'regular': 400,
  'semi-bold': 600,
  'bold': 700,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
$base-url: '../../assets/' !default;
