@use '../styles/abstracts';
@use '../styles/base';

.video {
    &__content-wrapper {
    @include abstracts.respond-to('desktop') {
      margin: 0 auto;
      max-width: 102rem;
      display: flex;
      gap: 2.4rem;
    }
  }
}
