/**
 * Basic typography style for copy text
 */
@use '../abstracts';

body {
  color: abstracts.color('primary', 'BrainFlix-Black');
  font: normal map-get(abstracts.$font-weights, 'regular') 1.3rem / 1.8rem
    abstracts.$text-font-stack;

  @include abstracts.respond-to('tablet') {
    font: normal 1.4rem / 2.2rem abstracts.$text-font-stack;
  }
}

h1,
h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: map-get(abstracts.$font-weights, 'semi-bold');
}

h1 {
  color: abstracts.color('primary', 'alternate');

  @include abstracts.respond-to('tablet') {
    font-size: 3.3rem;
    line-height: 4.4rem;
  }
}

h2 {
  @include abstracts.respond-to('tablet') {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: map-get(abstracts.$font-weights, 'semi-bold');
}

h4 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: map-get(abstracts.$font-weights, 'semi-bold');

  @include abstracts.respond-to('tablet') {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: map-get(abstracts.$font-weights, 'semi-bold');
  }
}

footer > p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: map-get(abstracts.$font-weights, 'regular');

  @include abstracts.respond-to('tablet') {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: map-get(abstracts.$font-weights, 'regular');
  }
}

label,
button {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: map-get(abstracts.$font-weights, 'regular');

  @include abstracts.respond-to('tablet') {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: map-get(abstracts.$font-weights, 'regular');
  }
}

button {
  letter-spacing: 0.05rem;
}
